<ion-content class="ion-padding ion-text-center">

  <div class="ion-padding-bottom">
    <h1>
      ¡{{'QR.WELCOME' | translate}} {{ usuario.nombre }} {{ usuario.apellido }}!
    </h1>
  </div>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()">
    {{'QR.START_SCAN' | translate}}
  </ion-button>

  <ion-button *ngIf="escaneando && plataforma === 'web'" (click)="detenerEscaneoQR()">
    {{'QR.STOP_SCAN' | translate}}
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

</ion-content>