.logo {
  width: 80%; /* Define el ancho de tu logo según tus necesidades */
  height: 200px; /* Define la altura de tu logo según tus necesidades */
  display: block; /* Esto ayuda a centrar la imagen horizontalmente */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen horizontalmente */
}


.title-container {
  font-size: 24px;
}

/* Estilo para el mensaje de error */
.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
}

/* Estilo para el botón de volver */
.back-button {
  margin-top: 20px;
  text-align: center;
  color: #3880ff;
  cursor: pointer;
}
ion-card {
  margin: 10px;
}
