<ion-header [translucent]="true" class="header-container">
  <ion-toolbar>
    <div class="logo-container">
      <ion-img src="assets/logo-duoc.svg.png" class="logo"></ion-img>
    </div>
  </ion-toolbar>

  <ion-toolbar>
    <div class="title-container">
      <ion-title class="ion-text-center hover-text-animation">Asistencia DUOC</ion-title>
    </div>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="componente_actual"  (ngModelChange)="cambiarComponente($event)">
      
      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="miclase">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>

      <!-- <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button> -->

      <ion-segment-button value="misdatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>

  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>

  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>

  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  

  <!-- Cerrar Sesión en la parte inferior -->
  <div class="ion-text-center">
    <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
