<div class="marco">

  <ion-item>
    <ion-label position="stacked">{{ 'USER.CUENTA' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cuenta" labelPlacement="floating" disabled="true"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">{{ 'USER.CORREO' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.correo" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.NOMBRE' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nombre" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.APELLIDO' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.apellido" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.PREGUNTA_SECRETA' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.RESPUESTA_SECRETA' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.NIVEL_EDUCACIONAL' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nivelEducacional" labelPlacement="floating"></ion-input>
  </ion-item>
  

  <ion-item>
    <ion-label position="floating">{{'USER.FECHA_NACIMIENTO' | translate}}</ion-label>
    <ion-input 
      type="date" 
      [(ngModel)]="fechaVisualizar" 
      (ngModelChange)="onDateChange($event)">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.DIRECCION' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.direccion" labelPlacement="floating"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">{{ 'USER.CONTRASENA' | translate }}</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'USER.REPETIR_CONTRASENA' | translate }}</ion-label>
    <ion-input type="password" [(ngModel)]="repeticionPassword" labelPlacement="floating"></ion-input>
  </ion-item>

  <br>
  <div class="centrar-boton">
    <ion-button (click)="actualizarPerfil()">
      {{'USER.ACTUALIZAR_DATOS' | translate}}
    </ion-button>
  </div>

</div>