.logo {
  width: 80%; /* Define el ancho de tu logo según tus necesidades */
  height: 200px; /* Define la altura de tu logo según tus necesidades */
  display: block; /* Esto ayuda a centrar la imagen horizontalmente */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen horizontalmente */
}