<ion-header [translucent]="true">
  <!-- Agrega el logo arriba del encabezado -->
  <ion-img src="assets/logo-duoc.svg.png" class="logo"></ion-img>
  <ion-toolbar>
    <ion-title class="ion-text-center title-container">{{ 'HEADER.TITLE_CORREO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">{{ 'CONTENT.CORREO_ELECTRONICO' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <!-- Mostrar el mensaje de error si errorMessage no está vacío -->
      <ion-label class="error-message" *ngIf="errorMessage">{{ errorMessage }}</ion-label>
      
      <ion-button expand="full" fill="clear" class="custom-link" (click)="volverAlInicio()">
        {{ 'CONTENT.REGRESAR_LOGIN' | translate }}
      </ion-button>

      <ion-button expand="full" (click)="solicitarPreguntaSecreta()">
        {{ 'CONTENT.CONTINUAR' | translate }}
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>