<div class="marco">
  <ion-grid fixed>
    
    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.BLOQUE_INICIO' | translate }}</ion-col>
      <ion-col size="6">
        <span *ngIf="asistencia.bloqueInicio > 0">
          {{ asistencia.bloqueInicio }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.BLOQUE_TERMINO' | translate }}</ion-col>
      <ion-col size="6">
        <span *ngIf="asistencia.bloqueTermino > 0">
          {{ asistencia.bloqueTermino }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.DIA' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.dia }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.HORA_INICIO' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.horaInicio }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.HORA_TERMINO' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.horaFin }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.SIGLA_ASIGNATURA' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.idAsignatura }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.NOMBRE_PROFESOR' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.nombreProfesor }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.SECCION' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.seccion }}</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">{{ 'ASISTENCIA.SEDE' | translate }}</ion-col>
      <ion-col size="6">{{ asistencia.sede }}</ion-col>
    </ion-row>

  </ion-grid>
</div>
