
<ion-content [fullscreen]="true">
  <div class="InicioSesion">
    <ion-img src="assets/logo-duoc.svg.png" class="logo"></ion-img>
    <ion-list class="ListaInicioSesion">

        <ion-select label="Idioma" position="floating" class="Idioma">
          <ion-select-option value="Es">Español</ion-select-option>
          <ion-select-option value="En">English</ion-select-option>
          <ion-select-option value="Japones">日本人</ion-select-option>
        </ion-select>

      <span class="LoginItemTitulo">
        Bienvenido Al Sistema de Asistencia de DuocUC
      </span>
      <br><br>
      <ion-item class="LoginItem">
        <ion-input [(ngModel)]="cuenta" type="text" placeholder="Nombre de usuario" ></ion-input>
      </ion-item>
      <ion-item class="LoginItem">
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" ></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="ingresar()" fill="solid">
        Iniciar Sesión
        <ion-icon slot="end" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="rutaduoc()" fill="none">
        Ruta DuocUC
      </ion-button>
      <br>
      <ion-card-content>
        <ion-button (click)="recuperarContrasena()" fill="none">
          Recuperar Contraseña
        </ion-button>
      </ion-card-content>

    </ion-list>
  </div>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: small;">
      © 2024 DuocUC
    </ion-title>
  </ion-toolbar>
</ion-footer>