ion-content.background{
  --background: url(../../../assets/sededuoc.jpg) 0 0/100% 100% no-repeat;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


.title-container {
  margin-bottom: 20px; /* Espacio entre el título y el formulario */
  border: 1px solid #ccc; /* Borde del contenedor del título */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno del contenedor del título */
  max-width: 80%; /* Ancho máximo del contenedor del título */
  margin: 0 auto; /* Centrar horizontalmente el contenedor del título */
  text-align: center; /* Asegura que el texto esté centrado */
  position: relative; /* Para permitir el movimiento relativo al elemento */
}

/* CAMBIO ANIMACION PARA ASISTENCIA DUOC */
.hover-text-animation {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  margin-left: 20px; /* Mueve el texto más hacia la derecha */
  padding: 10px; /* Agrega espacio interno alrededor del texto */
}

.hover-text-animation:hover {
  animation: move-left-right 0.6s infinite alternate ease-in-out; /* Animación infinita */
}

/* Definición de la animación de movimiento */
@keyframes move-left-right {
  0% {
    transform: translateX(-10px); /* Mover a la izquierda */
  }
  100% {
    transform: translateX(10px); /* Mover a la derecha */
}
}

.ion-padding{
  width: 100%;
  height: 350px;
}

/* Fondo de pantalla */
ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;

  background-image: url('/assets/sededuoc.JPG'); /* Fondo con la imagen jpg */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-color: transparent; /* Elimina cualquier color de fondo */
  background-repeat: no-repeat; /* Agrega esta propiedad para evitar que se repita la imagen */
  background-position: center center; /* Agrega esta propiedad para centrar la imagen */
}

.custom-input {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px; /* Espacio a la izquierda */
  background-color: black; /* Fondo negro por defecto */
  color: white; /* Color del texto */
  transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.custom-input:hover {
  background-color: #3c3c3c; /* Cambia a gris al pasar el mouse */
}

/* Placeholder sin movimiento */
.custom-input::placeholder {
  color: #ccc; /* Cambia el color del placeholder */
  font-style: italic; /* Cambia el estilo de la fuente del placeholder */
}

/* Ajustes al recibir foco */
.custom-input:focus {
  border-color: #00aced; /* Cambia el color del borde al hacer foco */
}

.custom-input:focus::placeholder {
  color: #bbb; /* Cambia el color del placeholder al hacer foco */
  opacity: 0.7; /* Opción para hacer más tenue el placeholder */
}

.custom-button {
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}

.custom-link {
  color: #007BFF;
  text-decoration: underline;
  margin-top: 10px;
}

.logo {
  width: 80%; /* Define el ancho de tu logo según tus necesidades */
  height: 200px; /* Define la altura de tu logo según tus necesidades */
  display: block; /* Esto ayuda a centrar la imagen horizontalmente */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen horizontalmente */
}

ion-item {
  --padding-bottom: 10px;
}

.title {
  margin-bottom: 20px; /* Ajusta el valor según la cantidad de espacio que desees agregar */
  text-align: center; /* Centra el texto del título */
}

ion-toolbar {
  text-align: center; /* Centra el contenido del toolbar */
}

ion-title {
  display: inline-block; /* Hace que el título se comporte como un elemento en línea para centrarlo */
}
