<ion-content padding class="background">


  <ion-header [translucent]="true" class>
    <ion-img src="assets/logo-duoc.svg.png" class="logo"></ion-img>
    <ion-toolbar>
      <ion-title class="ion-text-center title-container hover-text-animation">Asistencia  DUOC</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content class="ion-padding">
    <ion-card class="ion-text-center" >
      <ion-card>
      <ion-item class="custom-input">
        <ion-input [(ngModel)]="cuenta" type="text" placeholder="Nombre de usuario" ></ion-input>
      </ion-item>
      <ion-item class="custom-input">
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" ></ion-input>
      </ion-item>
      <ion-button expand="full" fill="clear" class="custom-link" (click)="recuperarContrasena()">
        Recuperar Contraseña
      </ion-button>
      <ion-button (click)="ingresar()"  class="custom-button">
        Ingresar
      </ion-button>
      <ion-button (click)="generarUsuarios()"  class="custom-button">
        Generar Usuarios
      </ion-button>
    </ion-card>
    </ion-card>
  </ion-content>
</ion-content>